<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet exercise</title>

    <link rel="stylesheet" href="css/greet.css">
    {{!--
    <script src="/public/client.js"></script> --}}
</head>

<body>
    <div class="container">
        <nav>
            <div class="menu">
                <ul>
                    <li class="active"><a href="/"><i class="fa-solid fa-house-user"></i>Home</a></li>
                    <li><a href="/greeted" class="buton"><i></i>Greeted Names</a></li>

                    </li>
                </ul>
            </div>
        </nav>
        <center>
            <h2>Greeting</h2>
        </center>

        {{!-- {{#if messages}} --}}

        <div class="error">
            {{messages.error}}
        </div>
        {{!-- {{/if}} --}}

        {{!-- {{#if message.success}} --}}
        <div class="success">
            {{messages.success}}
        </div> 
        {{!-- {{/if}} --}}

        <form action="/naming" method="POST">

            <label>Name:</label>
            <input placeholder="Type your full name here" name="username" type="text" class="myText"
                value="{{names.name}}">
            <span class="namesGreetedCounter">{{count}}</span><br><br>
            <div>
                <input type="radio" name="theLanguage" class="language" value="english">
                <label>English</label>

                <input type="radio" name="theLanguage" class="language" value="isixhosa">
                <label>IsiXhosa</label>

                <input type="radio" name="theLanguage" class="language" value="afrikaans">
                <label>Afrikaans</label>
            </div><br>

            <button type="submit" class="myButton">Greet me</button><br><br>
        </form>

        {{!-- <div class="namesGreetedCounter">{{count}}</div> --}}


         {{!-- <div class="output">
            <h4 >{{messagesz}}</h4>
         </div> --}}

        <fieldset class="output">
            <h4 class="">{{messagesz}}</h4>
        </fieldset> 


        <script src="client.js"></script>

        {{!-- <div> --}}
            {{!-- <button type="submit" class="myButton">Restart</button> --}}
            {{!-- <a class="btn" type="submit">Reset</a> --}}
            {{!--
        </div> --}}
        {{!--
        <script src="./greeting-fact.js" charset="utf-8"></script>
        <script src="./js/greet.js" charset="utf-8"></script> --}}
    </div>
</body>

</html>